.chart-axis-container {
  .chart-axis-row {
    display: flex;
    align-items: center;
    height: 32px;

    &.sub-content {
      margin-left: 25px;
      gap: 4px;

      > span {
        white-space: nowrap;
      }
    }

    &.sub-sub-content {
      margin-left: 50px;
      gap: 4px;

      > span {
        white-space: nowrap;
      }
    }
  }

  .chart-axis-label {
    display: flex;
    align-items: center;
    height: 26px;
  }
}
