.chat-page-container {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;

  .message-container {
    display: flex;
    overflow: hidden;
    width: 520px;
    flex: 1;
    flex-direction: column;
  }

  .send-container {
    padding: 10px;
    width: 500px;
    height: 100px;
  }
}
