.chat-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 20px;

  .left-wrapper {
    width: 300px;
    height: 500px;
    border: 1px solid #eaeaea;
  }

  .right-wrapper {
    width: 300px;
    height: 500px;
    border: 1px solid #eaeaea;
  }
}
