.component-word-config-container {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;

  .field-area-wrapper {
    padding: 8px 12px;

    .field-area-header {
      display: flex;
      justify-content: space-between;
    }

    .field-area-body {
      .blank-area-tip {
        height: 26px;
        line-height: 26px;
        text-align: center;
        color: #bfbfbf;
        border: 1px dashed #bfbfbf;
        border-radius: 4px;
      }
    }
  }

  .update-btn {
    padding: 10px;
    margin-top: auto;
    text-align: center;
    color: white;
    background-color: #2d70f8;
    cursor: pointer;
  }
}
