.cool-indicator-card-chart {
  min-width: 150px;
  height: 100%;
  min-height: 117.5px;

  .indicator-container {
    position: relative;
    width: 100%;
    height: 100%;

    .indicator-item {
      display: flex;
      align-items: center;
      padding: 5px;

      .indicator-main {
        display: flex;
        flex-direction: column;
        width: fit-content;
      }

      .indicator-value {
        margin-bottom: 4px;
      }

      .sub-indicator-row {
        display: flex;
        gap: 10px;
      }

      .sub-indicator-name-wrapper {
        display: flex;
        max-width: 75px;
        flex-direction: column;
        gap: 5px;
      }

      .sub-indicator-value-wrapper {
        display: flex;
        max-width: 45px;
        flex-direction: column;
        gap: 5px;
      }
    }

    .indicator-carousel-container {
      // 修改antd 轮播默认样式
      .indicator-carousel {
        .indicator-item {
          display: flex !important;
        }

        .slick-arrow.slick-next {
          color: rgb(135 183 235);
        }

        .slick-arrow.slick-prev {
          color: rgb(135 183 235);
        }
      }
    }
  }
}
