.component-style-config-container {
  overflow-y: auto;
  height: 100%;

  // 隐藏滚动条
  scrollbar-width: none;

  // Fallback for browsers that do not support scrollbar-width
  &::-webkit-scrollbar {
    display: none;
  }

  .style-item {
    .series-config-container {
      .series-config-label {
        display: flex;
        align-items: center;
        height: 26px;
      }

      .series-config-row {
        display: flex;
        align-items: center;
        height: 32px;
        gap: 5px;

        &.sub-content {
          margin-left: 25px;
        }
      }
    }
  }
}
