.component-style-config-container {
  .style-item {
    .title-card-container {
      // 简单的选择box的样式
      .title-card-text-simple {
        display: flex;
        align-items: center;
        height: 32px;
      }

      // 右侧可以显示在一行的内容
      .title-card-text {
        display: flex;
        align-items: center;
        margin-left: 25px;
        height: 32px;
        gap: 5px;

        > span {
          white-space: nowrap;
        }
      }

      // 右侧不够显示垂直显示的样式
      .title-card-text-vertical {
        display: flex;
        margin-left: 25px;
        gap: 5px;
        padding-block: 3px;
      }

      // 卡片内边距配置模块的输入样式
      .title-card-text-large {
        display: flex;
        flex-wrap: wrap;
        margin-left: 25px;
        gap: 5px;
      }
    }

    .draw-area-container {
      .draw-area-text {
        display: flex;
        align-items: center;
        height: 32px;
        gap: 5px;
      }

      // 右侧不够显示垂直显示的样式
      .draw-area-text-vertical {
        display: flex;
        gap: 5px;
        padding-block: 3px;

        .draw-area-text-left {
          display: flex;
          align-items: center;
          height: 32px;
          gap: 5px;

          > span {
            white-space: nowrap;
          }
        }
      }
    }

    .chart-axis-container {
      .chart-axis-text-simple {
        display: flex;
        align-items: center;
        height: 32px;
      }

      .chart-axis-text {
        display: flex;
        align-items: center;
        margin-left: 25px;
        height: 32px;
        gap: 5px;

        /* stylelint-disable-next-line no-descending-specificity */
        > span {
          white-space: nowrap;
        }
      }
    }

    .chart-legend-container {
      .chart-legend-text-simple {
        display: flex;
        align-items: center;
        height: 32px;
      }

      .chart-legend-text {
        display: flex;
        align-items: center;
        margin-left: 25px;
        height: 32px;
        gap: 5px;

        /* stylelint-disable-next-line no-descending-specificity */
        > span {
          white-space: nowrap;
        }
      }
    }

    .data-label-container {
      .data-label-text-simple {
        display: flex;
        align-items: center;
        height: 32px;
      }

      .data-label-text {
        display: flex;
        align-items: center;
        height: 32px;
        gap: 5px;
      }
    }

    .chart-tooltip-container {
      .chart-tooltip-text-simple {
        display: flex;
        align-items: center;
        height: 32px;
        gap: 5px;
      }

      .chart-tooltip-text-vertical {
        display: flex;
        gap: 5px;
        padding-block: 3px;
      }
    }

    .auxiliary-config-container {
      .auxiliary-config-text-vertical {
        display: flex;
        gap: 5px;
        padding-block: 3px;
      }
    }
  }
}
