.right-theme-page-layout-container {
  .page-layout-row {
    display: flex;
    align-items: center;
    height: 32px;
    gap: 4px;

    .page-layout-row-label {
      min-width: 70px;
    }
  }

  .page-info-checkbox {
    display: flex;
    gap: 15px;
  }

  .page-background-image-picker {
    margin-left: 15px;
  }
}
