.data-center-page {
  .data-center-card {
    .ant-card-body {
      padding: 15px;
    }
  }
}

.data-source-drawer {
  // 覆盖 antd 样式
  .ant-drawer-body {
    display: flex;
    background-color: #f6f8fc;
    flex-direction: column;
  }

  .data-source-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  .data-source-content-wrapper {
    display: flex;
    flex: 1;
    overflow: auto;

    .data-source-content-menu {
      li {
        color: black;

        &.ant-menu-item-selected {
          color: #1990ff;
          background-color: #cdedfb;
        }

        &.ant-menu-item-active {
          color: gray !important;
        }
      }
    }

    .data-source-list {
      overflow: auto;
    }

    .data-source-item {
      display: flex;
      align-items: center;
      padding: 10px;
      width: 220px;
      height: 64px;
      background-color: #fff;
      border-radius: 8px;
      cursor: pointer;
      box-shadow: rgb(212 214 216 / 20%) 0 4px 12px;

      &:hover {
        box-shadow: rgb(149 157 165 / 20%) 0 8px 24px;
      }

      .icon {
        margin-right: 8px;
      }

      .name {
        flex: 1;
        overflow: hidden;

        .sub-name {
          font-size: 12px;
          color: #999;
        }
      }

      > span {
        word-break: break-word;
      }
    }
  }

  .create-data-source-success {
    display: flex;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    gap: 20px;

    .header-tip {
      font-size: 20px;
      font-weight: bold;
    }
  }
}
