.dashboard-chart-card-container {
  width: fit-content;

  .dashboard-chart-card-content {
    border-radius: 5px;

    .chart-card-header {
      display: flex;
      justify-content: space-between;
      color: white;
    }
  }
}
