.dashboard-chart-card-wrapper {
  display: flex;
  overflow: hidden;
  border-radius: 4px;
  flex-direction: column;

  .chart-card-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: white;

    &-title {
      overflow: hidden;
      max-width: 80%;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #fff;
      font-weight: 500;
    }

    &-tail {
      margin-left: auto;
      color: #fff;
      cursor: move;
    }
  }

  .dashboard-chart-card-chart {
    flex: 1;
  }

  .chart-card-remark-container {
    color: white;
  }

  .chart-card-endnote-container {
    color: white;
  }
}
