@use "sass:string";
@use "sass:math";

$duration: 400s;
$n: 400;
$color: rgb(153 226 255 / 78.7%);

@function get-shadows($n) {
  $result: "#{math.random(100)}vw #{math.random(100)}vh 0 #{$color}";

  @for $i from 2 through $n {
    $result: "#{$result}, #{math.random(100)}vw #{math.random(100)}vh 0 #{$color}";
  }

  @return string.unquote($string: $result);
}

@for $i from 1 through 5 {
  $duration: calc($duration / 2);
  $n: math.floor(calc($n / 2));
  .starry-sky-layer#{$i} {
    $size: #{$i}px;

    position: fixed;
    top: 0;
    left: 0;
    width: $size;
    height: $size;
    border-radius: 50%;
    box-shadow: get-shadows($n);
    animation: move-up $duration linear infinite;

    &::after {
      position: inherit;
      top: 100vh;
      left: 0;
      width: inherit;
      height: inherit;
      content: "";
      border-radius: inherit;
      box-shadow: inherit;
    }
  }
}

@keyframes move-up {
  to {
    transform: translateY(-100vh);
  }
}
