.left-chart-menu-scroll-wrapper {
  overflow: hidden auto;
  width: 275px;
  height: 100%;

  .left-chart-menu-container {
    min-height: 1050px;

    .left-chart-menu-title {
      position: sticky;
      top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      height: 40px;
      background-color: white;
      border-bottom: 1px solid #f0f0f0;
      line-height: 40px;
    }

    .left-chart-menu-body {
      padding: 0 10px;
      width: 100%;
    }

    .left-chart-menu-description {
      position: fixed;
      bottom: 0;
      display: flex;
      padding: 10px;
      width: 275px;
      height: 150px;
      font-size: 14px;
      background-color: white;
      flex-direction: column;
      border-top: 1px solid #f0f0f0;
      border-right: 1px solid #f0f0f0;

      .description-detail {
        margin-top: 10px;
        font-size: 12px;
      }
    }
  }
}
