.chart-category-container {
  margin-bottom: 8px;

  .chart-category-title {
    line-height: 30px;
  }

  .chart-category-items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
}
