.right-theme-global-style-container {
  .global-style-row {
    display: flex;
    align-items: center;
    height: 32px;
    gap: 4px;

    .global-style-row-label {
      min-width: 70px;
    }
  }

  .card-space-custom {
    padding: 10px 12px;
    border-radius: 4px;

    .card-space-row-column {
      display: flex;
      align-items: center;
      gap: 10px;

      .layout-menu-item {
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }

    .global-style-card-inner-padding {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }
}
