.dashboard-design-container {
  width: 100%;
  height: 100%;
  background-color: #f2f3f8;

  .root-container-main-header-and-content {
    position: relative;
    display: flex;
    overflow: hidden auto;
    width: 100%;
    height: 100%;
    flex-direction: column;

    .root-container-main-content {
      position: relative;
      padding: 8px 24px;
      width: 100%;
      height: 100%;
    }
  }

  .cool-bi-layout-indicator {
    position: absolute;
    z-index: 2000;
    display: grid;
    padding: inherit;
    visibility: hidden;
    inset: 0;
    pointer-events: all;
    cursor: not-allowed;

    .indicator-item {
      box-sizing: border-box;
      background-color: #ecf6ff48;
      border: 1px dashed #1990ff88;
    }

    &.is-show {
      visibility: visible;
    }
  }

  // 在托拽时会创建的站位元素
  .react-grid-item.react-grid-placeholder {
    // 保证托拽的时候的虚拟元素始终在最下层
    z-index: 0;
    background: #cdcdce;
    border: 1px dashed #9292929f;
    border-radius: 8px;
    opacity: 0.5;
    transition: all 150ms ease;
    box-sizing: border-box;
  }

  // 调整网格项的样式
  .react-grid-item {
    z-index: 1;

    // 默认不现实大小缩放的手柄
    .react-resizable-handle {
      visibility: hidden;
    }

    &:hover {
      box-shadow: 0 0 5px rgb(0 0 0 / 10%);

      .react-resizable-handle {
        visibility: visible;
      }
    }

    &.resizing,
    &.react-draggable-dragging {
      z-index: 100;
      box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    }
  }
}
