.right-theme-dashboard-background-container {
  .dashboard-background-row {
    display: flex;
    align-items: center;
    height: 50px;
  }

  .dashboard-background-checkbox {
    display: flex;
    align-items: center;
    height: 32px;
  }

  .image-picker {
    padding-left: 24px;
    height: 40px;
    background-color: aliceblue;

    &.picker-disabled {
      display: none;
    }
  }
}
